## Practice(2)

- 사용자가 입력한 정수(2~100)에 대해 팩토리얼 연산 수행하기
- 2차원 리스트의 모든 자료의 합 구하기

```python
[
[1, 0, 7, 0],
[0, 2, 0, 9],
[0, 6, 3, 7],
[4, 0, 5, 1],
]
```

In [2]:
f_num = int(input("Enter number(2-100): "))

if f_num > 100:
    print("I said 2 to 100")
else:
    # 사용자가 입력한 값으로부터 1씩 감소하며, 1이 되는 순간 작업을 종료
    result = 1
    # while f_num > 1:
    #     result *= f_num
    #     f_num -= 1
    #     print(result)
    # 사용자가 입력한 값을 활용해 범위를 만들고 반복
    for i in range(1, f_num+1):
        result *= i
        print(result)

Enter number(2-100):  6

1
2
6
24
120
720

In [7]:
m = [
    [1, 0, 7, 0],
    [0, 2, 0, 9],
    [0, 6, 3, 7],
    [4, 0, 5, 1],
]
result = 0
for i_list in m:
    # for j in i_list:
    #     result += j
    result += sum(i_list)
result

45

In [3]:
sum([1,2,3,4,])

10

In [5]:
sum(m) # -> lambda map

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [10]:
# list(map(sum, m))
sum(map(sum,m)) # Using map(Lambda expression)

45

## Fizzbuzz

1~100까지의 모든 정수(i)에 대해,
- 만약 i가 3의 배수라면, 'fizz'
- 5의 배수라면, 'buzz'
- 15의 배수라면, 'fizzbuzz'
- 나머지 모든 경우의 수, 숫자 그대로를 출력

In [16]:
# for i in range(1, 100+1):
#     print(i)

# for i in range(1, 100+1):
#     if i % 3 == 0:
#         print('fizz')
#     else:
#         print(i)

# for i in range(1, 100+1):
#     if i % 3 == 0:
#         print('fizz')
#     elif i % 5 == 0:
#         print('buzz')
#     else:
#         print(i)

# 수행해야할 구문의 수를 꼭 알아보고 효율적인 선택을 해야함
# for i in range(1, 100+1):
#     if i % 15 == 0:
#         print('fizzbuzz') # 15는 3과 5의 공배수이므로 먼저 따져주기 위해 순서 변경
#     elif i % 3 == 0: # 33 * 4 = 132
#         print('fizz')
#     elif i % 5 == 0: # 20 * 6 = 120
#         print('buzz')
#     else:
#         print(i)

# for i in range(1, 100+1):
#     if i % 15 == 0:
#         print('fizzbuzz') # 15는 3과 5의 공배수이므로 먼저 따져주기 위해 순서 변경
#     elif i % 5 == 0: # 20 * 4 = 80
#         print('buzz')
#     elif i % 3 == 0: # 33 * 6 = 198
#         print('fizz')
#     else:
#         print(i)

for i in range(1, 100+1):
    if i % 3 == 0 or i % 5 == 0:
        print('fizz' * (i%3==0) + 'buzz' * (i%5==0))
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [27]:
# for i in range(1, 100+1):
#     if i % 3 == 0 or i % 5 == 0:
#         print('fizz' * (i%3==0) + 'buzz' * (i%5==0))
#     else:
#         print(i)

for i in range(1, 100+1):
    print('fizz'*(i%3==0) + 'buzz'*(i%5==0) or i )
# 'fizz' * True
# 'fizz' * False

# 'fizz' + ''
# '' + 'buzz'
# 'fizz'+'buzz'

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [36]:
from random import randint


answer = randint(1, 100)
print(answer)

#1
# lives = 5
# while lives > 0:
#     guess = int(input("Guess the number(1-100): "))
#     print(guess)
    
#     if guess == answer:
#         print('맞았습니다')
#         break
#     else:
#         print(f'틀렸습니다. {lives-1} 회 남았습니다.')
#         lives -= 1
#         if lives == 0:
#             print('Game Over!')

#2
# for i in range(5):
#     guess = int(input("Guess the number(1-100): "))
#     print(guess)
    
#     if guess == answer:
#         print('맞았습니다')
#         break
#     elif i == 4:
#         print('Game Over')
#     else:        
#         print(f'틀렸습니다. {4-i}회 남았습니다.')

65

Guess the number(1-100):  65

65
맞았습니다

Guess the number(1-100):  30

30
틀렸습니다. 3회 남았습니다.

Guess the number(1-100):  30

30
틀렸습니다. 2회 남았습니다.

Guess the number(1-100):  1

1
틀렸습니다. 1회 남았습니다.

Guess the number(1-100):  1

1
Game Over

In [37]:
from random import randint


answer = randint(1, 100)
print(answer)

#1
lives = 5
while lives > 0:
    guess = int(input("Guess the number(1-100): "))
    print(guess)
    
    if guess == answer:
        print('맞았습니다')
        break
    elif lives == 1:
        print('Game Over!')
    elif guess > answer:
        print(f'DOWN!!!!!! ({lives-1} times left)')
    elif guess < answer:
        print(f'UP!!!!!!!! ({lives-1} times left)')
    lives -= 1
# 칭찬
# reward, point, scoreboard

88

Guess the number(1-100):  1

1
UP!!!!!!!! (4 times left)

Guess the number(1-100):  1

1
UP!!!!!!!! (3 times left)

Guess the number(1-100):  1

1
UP!!!!!!!! (2 times left)

Guess the number(1-100):  1

1
UP!!!!!!!! (1 times left)

Guess the number(1-100):  1

1
Game Over!

In [152]:
## Monty Hall

from random import shuffle, randint, choice

stay = 0
switch = 0

# n회 반복시행
times = 10000
for _ in range(times):
    doors = [0, 0, 1,]
    shuffle(doors)
    # print(doors)
    
    # guest = doors[randint(0,2)]
    # guest = choice(doors)
    guest = doors.pop(randint(0,2))
    # print(guest)
    # print(doors)
    
    # 염소 한마리 골라낸 뒤, (doors.remove(0))
    doors.remove(0)
    if guest == 1:
        # 지켰을때 (stay += 1, guest==1)
        stay += 1
    elif doors[0] == 1:
        # 바꿨을때 (switch += 1, doors[0]==1)
        switch += 1
    

# 결과 출력
print(f'Stay: {stay}/{times} ({stay/times*100}%)')
print(f'Switch: {switch}/{times} ({switch/times*100}%)')

Stay: 3346/10000 (33.46%)
Switch: 6654/10000 (66.53999999999999%)

## Function

In [153]:
def awe_sum(num1):
    result = num1 + 2
    return result

In [154]:
awe_sum(3)

5

In [ ]:
for i in range(1,10+1):
    awe_sum(i)

In [155]:
# return이 없는 함수
def print_hello(name: str):
    print(f'hello, {name}')

In [156]:
print_hello('John')

hello, John

In [157]:
result = awe_sum(1)

In [158]:
greeting = print_hello('John')

hello, John

In [163]:
print(result, type(result))

3 <class 'int'>

In [162]:
print(greeting, type(greeting))
# 함수는 return이 없으면 그 함수의 실행결과를 전달받을 수 없습니다.

None <class 'NoneType'>

In [165]:
a = 1
def modify_a(num1):
    return num1
a = modify_a(3)
a

3

In [166]:
def repeat_print():
    for _ in range(5):
        print('hello')

In [169]:
repeat_print()

hello
hello
hello
hello
hello

In [ ]:
# parameter, return 없이도 함수 정의는 얼마든지 가능!!!
# 다만, 함수의 실행결과를 외부에서 받아보고자 한다면 return을
# 반복하는 행위에 대해 외부에서 값을 전달해 행동하려 한다면 parameter를 추가해야 합니다

In [170]:
def get_quot_rem(num1, num2):
    quot = num1 // num2
    rem = num1 % num2
    return quot, rem

In [171]:
get_quot_rem(7,3)

(2, 1)

In [175]:
# del quot
quot, rem = get_quot_rem(7,3) # multiple assignment 여러개의 값을 여러개의 변수에 나눠 할당
quot, _ = get_quot_rem(7,3) # ignore
_, rem = get_quot_rem(7,3) # ignore
print(quot)
print(rem)

2
1

In [176]:
def id_check(username: str):
    if username == 'admin':
        print(f'당신은 그 유저네임을 가질 수 없습니다: {username}')
        return # 반복문의 break처럼 함수 실행 중간에 함수 진행을 끊어버릴 수 있음
    else:
        print(f'{username} Checked Successfully')

In [177]:
id_check('admin')

당신은 그 유저네임을 가질 수 없습니다: admin

In [178]:
id_check('kingwangzzang')

kingwangzzang Checked Successfully

In [181]:
print('안녕', '하세요')
print('안녕', '하세요', sep=' ')
print('안녕', '하세요', sep='hello')

안녕 하세요
안녕 하세요
안녕hello하세요

In [185]:
print('안녕', end='\n') # \n 개행문자(enter)
print('하세요')
print('안녕', end='\t') # \t tabspace
print('하세요')
print('안녕', end='python') # custom endstring
print('하세요')

안녕
하세요
안녕	하세요
안녕python하세요

In [186]:
def say_hello(name, nick):
    print(f'Hello, {name}')
    if nick == True:
        print('You are still Fool..')
    else:
        print('You aren\'t now Fool anymore..')

In [187]:
say_hello() # 초기값이 없는 parameter는 비울 수 없습니다.

TypeError: say_hello() missing 2 required positional arguments: 'name' and 'nick'

In [188]:
say_hello('John', True)

Hello, John
You are still Fool..

In [189]:
def say_hello(name='Fool', nick=True):
    print(f'Hello, {name}')
    if nick == True:
        print('You are still Fool..')
    else:
        print('You aren\'t now Fool anymore..')

In [190]:
say_hello() # 초기값을 설정했을 경우, 값을 입력하지 않으면 설정된 초기값으로 함수를 실행합니다.

Hello, Fool
You are still Fool..

In [191]:
say_hello('John') # 원하는 값만 설정된 초기값 대신 다른 값을 쓸 수 있습니다.

Hello, John
You are still Fool..

In [192]:
say_hello(nick=False) # "원하는 값만"

Hello, Fool
You aren't now Fool anymore..

In [195]:
say_hello('John', False)
say_hello(name='John', nick=False)
say_hello(nick=False, name='John')

Hello, John
You aren't now Fool anymore..
Hello, John
You aren't now Fool anymore..
Hello, John
You aren't now Fool anymore..

In [196]:
def get_quot_rem(num1: int, num2: int) -> tuple: # Type hint: input, output에 대한 타입 힌트(강제력은 없음)
    """
    get_quot_rem(int, int) -> tuple
    몫과 나머지를 구합니다.
    docstring: 함수에 대한 도움말, 문서작성
    """
    quot = num1 // num2
    rem = num1 % num2
    return quot, rem

In [197]:
get_quot_rem?

Signature: get_quot_rem(num1: int, num2: int) -> tuple
Docstring:
get_quot_rem(int, int) -> tuple
몫과 나머지를 구합니다.
docstring: 함수에 대한 도움말, 문서작성
File:      /var/folders/6_/8x9zh_l17v72trp01b9k_kcw0000gn/T/ipykernel_11379/2502161893.py
Type:      function

In [198]:
## arguments

In [205]:
def multiple_sum(*args):
    print(args)
    sum = 0
    for i in args:
        sum += i
    return sum

In [206]:
multiple_sum(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [207]:
multiple_sum([1,2,3,4,5])

([1, 2, 3, 4, 5],)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [201]:
def user_info(**kwargs):
    print(str(kwargs))

In [202]:
user_info(name="John Doe", age=40, locale='SEL, KR')

{'name': 'John Doe', 'age': 40, 'locale': 'SEL, KR'}

In [203]:
def user_info(**kwargs):
    for k,v in kwargs.items():
        print(f'His(Her) {k} is {v}.')

In [204]:
user_info(name="John Doe", age=40, locale='SEL, KR')

His(Her) name is John Doe.
His(Her) age is 40.
His(Her) locale is SEL, KR.

In [ ]:
https://
search.naver.com/
search.naver
?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EB%A7%A5%EB%B6%81&ackey=juux73ev

In [214]:
def set_url(domain, port, path, **query):
    base_url = 'https://' + domain +':' + port + f'/{path}?'
    for k,v in query.items():
        base_url += f'{k}={v}&'
    return base_url

In [215]:
set_url('www.google.com','443', 'search',ie='utf-8',query='맥북',utm_source='naver')

'https://www.google.com:443/search?ie=utf-8&query=맥북&utm_source=naver&'

In [ ]:
## scope: 적용범위

In [217]:
a = 'hello'
def say_hello(a):
    a += 'world'
    return a

print(say_hello(a))
print(a)

helloworld
hello

In [218]:
a = 'hello'
def say_hello(x): # a나 x나 함수 내에서의 이름일 뿐 함수 밖과는 아무 상관없는 이름임
    x += 'world'
    return x

print(say_hello(a))
print(a)

helloworld
hello

In [219]:
a = 'hello'
def say_hello(x):
    x += 'world'
    return x

a = say_hello(a) # 함수의 실행결과를 재할당해야 그 결과가 원본(변수)에 적용됨
print(a)

helloworld

In [221]:
a = 'hello'
def undefined_hello(a):
    c = c + 'world'
    a += 'world'
    return a,c

In [222]:
undefined_hello(a)

UnboundLocalError: cannot access local variable 'c' where it is not associated with a value

In [224]:
a = 'hello'
def say_hello(x):
    global a # 함수 scope를 벗어난 전역 scope의 a를 선언
    a += 'world'
    return a

In [225]:
say_hello('John')

'helloworld'

In [226]:
a

'helloworld'

In [227]:
del a

def say_hello(x):
    global a # 함수 scope를 벗어난 전역 scope의 a를 선언
    a += 'world'
    return a

# global 키워드 대신 작업결과를 변수에 재할당하여 변수가 업데이트 되도록 하는 것이 가장 좋음
# a = 'hello'
# def say_hello(x):
#     x += 'world'
#     return x

# a = say_hello(a) # 함수의 실행결과를 재할당해야 그 결과가 원본(변수)에 적용됨
# print(a)

In [228]:
say_hello('John')

NameError: name 'a' is not defined

## Leap Year

- input: 0~9999 사이의 정수
- output: (사용자의 입력년도, 윤년 평년 여부)

- 4로 나누어 떨어지면 윤년
- 100으로 나누어 떨어지면 평년
- 400으로 나누어 떨어지면 윤년

In [237]:
year = 2002
(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

False

In [238]:
def is_leap(year: int) -> tuple:
    """
    입력한 연도의 윤년 여부를 판단합니다.
    """
    # 다중조건문 ver
    # if year % 400 == 0:
    #     is_leap = True
    # elif year % 100 == 0:
    #     is_leap = False
    # elif year % 4 == 0:
    #     is_leap = True
    # else:
    #     is_leap = False
    # 논리연산자 ver
    is_leap = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
    return year, is_leap

In [239]:
is_leap(2000)

(2000, True)

In [240]:
is_leap(2100)

(2100, False)

In [241]:
is_leap(2004)

(2004, True)

In [242]:
is_leap(2002)

(2002, False)

In [243]:
## lambda: 익명함수

In [ ]:
def hello():

In [244]:
lambda a: a + 1

In [245]:
j = lambda a: a+1

In [246]:
j(3)

4

In [247]:
(lambda a: a+1)(3)

4

In [ ]:
# comprehension, sorted(key=lambda x: x**2), map, filter

In [248]:
(lambda x,y:x**2/y)(3,4)

2.25

In [250]:
animals = ['giraffe','turtle','elephant', 'tiger', 'dog', 'hamster', 'cat','aligator','bear','pig','bat',]

In [252]:
# sorted(animals)
sorted(animals, reverse=True)

['turtle',
 'tiger',
 'pig',
 'hamster',
 'giraffe',
 'elephant',
 'dog',
 'cat',
 'bear',
 'bat',
 'aligator']

In [254]:
# sorted(animals, key=lambda x: len(x))
sorted(animals, key=lambda x: len(x), reverse=True)

['elephant',
 'aligator',
 'giraffe',
 'hamster',
 'turtle',
 'tiger',
 'bear',
 'dog',
 'cat',
 'pig',
 'bat']

In [256]:
scores = [('A',70), ('B',90), ('C', 50), ('D',100), ('E', 80)]

In [259]:
sorted(scores)
sorted(scores, key=lambda x: x[1])
sorted(scores, key=lambda x: x[1], reverse=True)

[('D', 100), ('B', 90), ('E', 80), ('A', 70), ('C', 50)]

In [261]:
nums = [1,2,3,4,5]
map(lambda x: x ** 2, nums)
list(map(lambda x: x ** 2, nums))

[1, 4, 9, 16, 25]

## Comprehension

- 기존의 묶음 자료형에 일괄적으로 어떤 일을 수행해 새로운 묶음 자료형을 만들고 싶을 때 적용

In [262]:
nums = [1,2,3,4,5] #1
result = [] #2

for i in nums:
    result.append(i * 2) #3
result

[2, 4, 6, 8, 10]

In [263]:
nums = [1,2,3,4,5]
result = [i * 2 for i in nums] # 할 일 + 대상, Pythonic(가독성이 좋다)
# list(map(lambda x: x*2, nums))
result

[2, 4, 6, 8, 10]

In [264]:
nums = [1,2,3,4,5] #1
result = [] #2

for i in nums: #4
    if i % 2 == 0: #5
        result.append(i*2) #3
result

[4, 8]

In [265]:
nums = [1,2,3,4,5]
result = [i*2 for i in nums if i % 2 == 0] # 조건을 만족할때만 할일 + 대상
result

[4, 8]

In [266]:
nums = [1,2,3,4,5] #1
result = [] #2

for i in nums: #4
    if i % 2 == 0: #5
        result.append(i*2) #3
    else: #6
        result.append(i) #7
result

[1, 4, 3, 8, 5]

In [267]:
nums = [1,2,3,4,5]
result = [i*2 for i in nums if i % 2 == 0 else i] # list comprehension은 조건을 만족할 때만 되는구나
result

SyntaxError: invalid syntax (3766961685.py, line 2)

In [268]:
nums = [1,2,3,4,5]
result = [(i*2 if i % 2 == 0 else i) for i in nums] # 삼항연산자로 else까지 표현가능
result

[1, 4, 3, 8, 5]

In [ ]:
# set, dictionary
# tuple은 왜? => 고정형 리스트

In [270]:
user = {
    'NAME': 'John Doe',
    'AGE': 40,
} #1

new_user = {} #2

for k,v in user.items(): #4
    new_user[k.lower()] = v #3
new_user

{'name': 'John Doe', 'age': 40}

In [274]:
user = {
    'NAME': 'John Doe',
    'AGE': 40,
}
# new_user = {new_user[k.lower()] = v for k,v in user.items()}
# new_user = {k:v for k,v in user.items()} #기본형
new_user = {k.lower():v for k,v in user.items()} # key만 소문자로 변경

new_user

{'name': 'John Doe', 'age': 40}

## Recursion

In [275]:
def fibo(n):
    # memoization(어떤 시퀀스의 실행결과를 저장하는 메모리)
    if n < 2:
        return n
    else:
        return fibo(n-1) + fibo(n-2) # python: recursion depth limit = 1000

In [276]:
fibo(0)

0

In [277]:
fibo(1)

1

In [278]:
fibo(2)

1

In [279]:
fibo(3)

2

In [280]:
fibo(4)

3

In [296]:
# binet's formula

from math import sqrt


def fibo_binet(n):
    result = ((1+sqrt(5))**n - (1-sqrt(5)**n))/(2**n * sqrt(5))
    return int(result)

In [305]:
fibo_binet(7)

13

In [308]:
# Research 를 통해 Memoization 구현해보기
# hint: mem = {0:0, 1:1}

def fibo_mem():
    # memoization(어떤 시퀀스의 실행결과를 저장하는 메모리)
    mem = {0:0, 1:1}
    def sub_func(n):
        if not n in mem:
            mem[n] = sub_func(n-1) + sub_func(n-2)
        return mem[n]
    return sub_func
f_m = fibo_mem()
f_m(7)

13

In [ ]:
def fibo(n):
    # memoization(어떤 시퀀스의 실행결과를 저장하는 메모리)
    if n < 2:
        return n
    else:
        return fibo(n-1) + fibo(n-2) # python: recursion depth limit = 1000

def fibo_binet(n):
    result = ((1+sqrt(5))**n - (1-sqrt(5)**n))/(2**n * sqrt(5))
    return int(result)

In [314]:
from time import time


start_time = time()
fibo(30)
end_time = time() - start_time

print(end_time) # 함수 실행시간 체크하기

0.11658811569213867

In [315]:
## Class

In [316]:
### Scope

In [319]:
def outer_scope():
    def inner_local():
        msg = 'Kernel'

    def inner_nonlocal():
        nonlocal msg
        msg = 'Academy'

    def inner_global():
        global msg
        msg = 'KernelAcademy'
    msg = 'Seoul'
    print(msg, id(msg))
    inner_local()
    print('local', msg, id(msg))
    inner_nonlocal()
    print('nonlocal', msg, id(msg))
    inner_global()
    print('global', msg, id(msg))

In [320]:
outer_scope()

Seoul 4709164800
local Seoul 4709164800
nonlocal Academy 4709168304
global Academy 4709168304

In [321]:
class Hero:
    health = 100

    def __init__(self, name, weapon):
        self.name = name
        self.weapon = weapon

    def attack(self):
        print(f'Attack with {self.weapon}')

In [322]:
IronMan = Hero('Iron Man', 'Impulse Gun')

In [323]:
IronMan.attack()

Attack with Impulse Gun

In [324]:
IronMan.name

'Iron Man'

In [325]:
IronMan.weapon

'Impulse Gun'

In [326]:
IronMan.health

100

In [327]:
class SeeAttributes:
    """
    You can see docstring.
    """
    integer = 1024 # attribute
    def function(self): # attribute
        return 'KernelAcademy'

In [328]:
LetsSee = SeeAttributes()

In [329]:
LetsSee.integer

1024

In [331]:
LetsSee.integer = 16

In [332]:
LetsSee.integer

16

In [333]:
LetsSee.function

In [334]:
LetsSee.function()

'KernelAcademy'

In [335]:
dir(LetsSee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'function',
 'integer']

In [336]:
LetsSee.__doc__

'\n    You can see docstring.\n    '

In [338]:
str.__doc__

"str(object='') -> str\nstr(bytes_or_buffer[, encoding[, errors]]) -> str\n\nCreate a new string object from the given object. If encoding or\nerrors is specified, then the object must expose a data buffer\nthat will be decoded using the given encoding and error handler.\nOtherwise, returns the result of object.__str__() (if defined)\nor repr(object).\nencoding defaults to sys.getdefaultencoding().\nerrors defaults to 'strict'."

In [339]:
Hulk = Hero('Hulk', 'Radioactive Fist')

In [342]:
Hulk.health
Hulk.health = 10000
Hulk.health

10000

In [343]:
IronMan.health

100

In [344]:
Hulk.attack()

Attack with Radioactive Fist

In [1]:
class Hero:
    health = 100
    inventory = []

    def __init__(self, name, weapon):
        self.name = name
        self.weapon = weapon

    def attack(self):
        print(f'Attack with {self.weapon}')
    def save_item(self, item):
        self.inventory.append(item)

In [2]:
IronMan = Hero('Iron Man', 'Impulse Gun')
Hulk = Hero('Hulk', 'Radioactive Fist')

In [3]:
IronMan.inventory

[]

In [4]:
IronMan.save_item('Sports Car')

In [5]:
IronMan.inventory

['Sports Car']

In [6]:
Hulk.inventory

['Sports Car']

In [7]:
Hulk.save_item('loose pants')

In [8]:
IronMan.inventory # Mutable object

['Sports Car', 'loose pants']

In [9]:
Hulk.health = 10000 # Primitive Type

In [10]:
IronMan.health

100

In [31]:
class Hero:
    health = 100
    

    def __init__(self, name, weapon, inventory):
        self.name = name
        self.weapon = weapon
        self.inventory = inventory

    def attack(self):
        print(f'Attack with {self.weapon}')
    def save_item(self, item):
        self.inventory.append(item)
    def save_item_multiple(self, *args):
        for item in args:
            self.save_item(item)
            
    def __del__(self):
        print('I love you, 3000.')

In [19]:
IronMan = Hero('Iron Man', 'Impulse Gun', ['Sports Car', 'Lab'])
IronMan.inventory

['Sports Car', 'Lab']

In [17]:
Hulk = Hero('Hulk', 'Radioactive Fist', ['Lab', 'loose pants'])
Hulk.inventory

['Lab', 'loose pants']

In [20]:
del IronMan

I love you, 3000.

In [22]:
IronMan

NameError: name 'IronMan' is not defined

In [32]:
IronMan = Hero('Iron Man', 'Impulse Gun', ['Sports Car', 'Lab'])
IronMan.inventory

['Sports Car', 'Lab']

In [33]:
IronMan.save_item_multiple('US dollar', 'Korean won')

In [34]:
IronMan.inventory

['Sports Car', 'Lab', 'US dollar', 'Korean won']

In [36]:
class SmartPhone:

    def __init__(self, ap, cam):
        self.ap = ap
        self.cam = cam

    def _jail_break(self):
        return 'Jail break complete'
    def __custom_firmware(self):
        return 'Custom firmware complete'

In [37]:
Galaxy = SmartPhone('Exynos', '16MP')

In [38]:
dir(Galaxy)

['_SmartPhone__custom_firmware',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_jail_break',
 'ap',
 'cam']